/* Device width = 640px */

@media all and (min-width: 640px) {
    header {
        height: 57px;
        font-size: 1.2rem;
    }
    main .showcase .container {
        max-width: 90%;
    }
    main .showcase .container h1 {
        font-size: 3rem;
        margin-bottom: 1.9rem;
    }
    main .showcase .container .links {
        font-size: 1.3rem;
    }
    main .showcase .container .links a {
        font-size: 1.3rem;
    }
    main .showcase .container .links i {
        padding-right: 37px;
    }
    main .showcase-secondary .p-container p {
        font-size: 1.1rem;
    }
    main .showcase-secondary .i-container i {
        font-size: 1.4rem;
    }
    main .images {
        height: calc(100% - 16px);
    }
    main .images div:first-child {
        font-size: 6.4rem;
    }
}


/* Device width = 980px */

@media all and (min-width: 980px) {
    header {
        height: 86px;
    }
    header nav h3,
    header nav .nav-menu {
        display: none;
    }
    header nav .nav-links {
        display: block;
        margin: 0 37px;
    }
    header nav .nav-links ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px 26px;
        text-transform: uppercase;
        font-weight: bold;
    }
    header nav .nav-links ul li {
        cursor: pointer;
        margin: 0 12px;
        list-style: none;
    }
    main .showcase {
        height: 100%;
    }
    main .showcase .container {
        margin: 200px 100px;
        max-width: 75%;
    }
    main .showcase .container h1 {
        font-size: 4rem;
        margin-bottom: 1.9rem;
    }
    main .showcase .container .links {
        font-size: 1.3rem;
    }
    main .showcase .container .links a {
        font-size: 1.8rem;
    }
    main .showcase .container .links i {
        padding-right: 35px;
        font-size: 1.8rem;
    }
    main .showcase-secondary {
        height: 105px;
    }
    main .showcase-secondary .p-container {
        width: 80%;
    }
    main .showcase-secondary .p-container p {
        font-size: 1.5rem;
    }
    main .showcase-secondary .i-container {
        width: 20vw;
    }
    main .showcase-secondary .i-container i {
        font-size: 1.9rem;
    }
    main .images {
        height: 320px;
        display: flex;
    }
    main .images div {
        height: 100%;
    }
    main .images div:first-child {
        font-size: 4rem;
    }
    main .text-container .paragraph-container {
        display: flex;
        max-width: 100%;
    }
    main .text-container .paragraph-container div:nth-child(2) {
        display: block;
    }
}


/* Device width = 1024px */

@media all and (min-width: 1024px) {
    main {
        height: 100vh;
    }
    main .showcase .container h1 {
        font-size: 4.4rem;
        margin-bottom: 2.1rem;
    }
    main .showcase .container .links i {
        padding-right: 8px;
        font-size: 1.8rem;
    }
    main .showcase-secondary {
        height: 125px;
    }
    main .showcase-secondary .p-container p {
        font-size: 1.6rem;
    }
    main .showcase-secondary .i-container i {
        font-size: 2.1rem;
    }
}