@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
}

header {
    height: 48px;
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
    width: 100%;
}

header nav h3 {
    margin: 0 18px;
}

header nav .nav-menu {
    background-color: var(--negro);
    width: 50px;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header nav .nav-links {
    display: none;
}

main {
    height: 100%;
    width: 100%;
}

main .showcase {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, var(--turquesa), var(--celeste-tipo));
    color: var(--blanco);
    padding: 16px 22px;
}

main .container {
    margin: 100px 8px;
    width: 100%;
    max-width: 95%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
}

main .showcase .container h1 {
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
    width: 100%;
}

main .showcase .links {
    display: flex;
    justify-content: space-between;
}

main .showcase .links {
    display: flex;
    justify-content: space-between;
}

main .showcase .links a {
    text-decoration: none;
    color: var(--gris);
    font-size: 0.9rem;
}

main .showcase .links i {
    padding-right: 11px;
}

main .showcase-secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
}

main .showcase-secondary .p-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--negro);
    color: var(--gris);
    width: 75%;
    height: 100%;
}

main .showcase-secondary .i-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--magenta);
    color: var(--blanco);
    width: 25vw;
    height: 100%;
}

main .showcase-secondary p {
    padding: 1 1.3rem;
    font-size: 0.8rem;
}

main .images {
    height: 100%;
    /*   display: flex;
    flex-direction: column; */
}

main .images div {
    background-repeat: no-repeat;
    /*   background-size: cover; */
    height: 320px;
    width: 100%;
}

main .images div:first-child {
    display: flex;
    background-color: var(--morado);
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    font-size: 3rem;
}

main .images div img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

main .text-container {
    background-color: var(--gris);
    padding: 1.5rem;
}

main .text-container h2 {
    color: var(--celeste-tipo);
    margin: 1rem 1rem;
}

main .text-container p {
    margin: 1rem 1rem;
}

main .text-container .paragraph-container div:nth-child(2) {
    display: none;
}

main .text-container .paragraph-container {
    display: flex;
}